.burger {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after,
  span {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: translateY(-50%);
  }
}
