@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/noto_sans.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/noto_sans.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/noto_sans.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/noto_sans.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/noto_sans.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/noto_sans.svg#noto_sans') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Noto';
  src: url('../fonts/NotoSans-SemiBold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/NotoSans-SemiBold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/NotoSans-SemiBold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/NotoSans-SemiBold.svg#noto_sans') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'CopperPlate';
  src: url('../fonts/copperplate_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/copperplate_bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/copperplate_bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/copperplate_bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/copperplate_bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/copperplate_bold.svg#copperplate_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
